body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

head {
    background: url("../images/icon.png") no-repeat center;
}

.container .filters {
    max-width: 1000px;
    margin-top: 30px;
    bottom: 30px;
    align-items: center;
}
