.places {
    position: absolute;
    top: 100px;
}

.places .h1 {
    font-size: 30px;
}

.places article {
    width: 390px;
    border: #FF5A5F 1px solid; 
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
}

.places article h2{
    text-align: center;
    font-size: 30px;
}

.places .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tittle_place {
    display: flex;
    justify-content: space-between;
}

.tittle_place h2 {
    margin-left: 70px;
}

.price_by_night {
    color: #FF5A5F;
    width: 60px;
    border: #FF5A5F 4px solid;
    border-radius: 40px;
    min-width: 60px;
    height: 58px;
    font-size: 30px; 
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 15px;
}

.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: flex;
    justify-content: center;
}

.information span {
    font-size: 14px;
}

.max_guest {
    width: 100px;
    text-align: center;
}

.max_guest_icon{
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}

.number_rooms {
    width: 100px;
    text-align: center;
}

.number_rooms_icon{
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}

.number_bathrooms {
    width: 100px;
    text-align: center;
}

.number_bathrooms_icon{
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}